<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.html" />
                <add value="default.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{QUERY_STRING}" pattern="mosConfig_[a-zA-Z_]{1,21}(=|\%3D)" ignoreCase="false" />
                        <add input="{QUERY_STRING}" pattern="base64_encode.*\(.*\)" ignoreCase="false" />
                        <add input="{QUERY_STRING}" pattern="(\&lt;|%3C).*script.*(\>|%3E)" />
                        <add input="{QUERY_STRING}" pattern="GLOBALS(=|\[|\%[0-9A-Z]{0,2})" ignoreCase="false" />
                        <add input="{QUERY_STRING}" pattern="_REQUEST(=|\[|\%[0-9A-Z]{0,2})" ignoreCase="false" />
                    </conditions>
                    <action type="CustomResponse" url="index.php" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^pages/([0-9]+)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=pages&amp;pid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^pages/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=pages&amp;system_page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^news/([0-9]+)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=news&amp;nid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^hotels/([0-9]+)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=hotels&amp;hid={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^rooms/([0-9]+)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=rooms&amp;room_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z])/index.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?lang={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z])/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?lang={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z])/pages/([0-9]+)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=pages&amp;pid={R:2}&amp;lang={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z])/pages/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=pages&amp;system_page={R:2}&amp;lang={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z])/news/([0-9]+)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=news&amp;nid={R:2}&amp;lang={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z][a-zA-Z])/index.php$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?currency={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z][a-zA-Z])/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?currency={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z][a-zA-Z])/pages/([0-9]+)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=pages&amp;pid={R:2}&amp;currency={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z][a-zA-Z])/pages/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=pages&amp;system_page={R:2}&amp;currency={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^([a-zA-Z][a-zA-Z][a-zA-Z])/news/([0-9]+)/(.*).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?page=news&amp;nid={R:2}&amp;currency={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
