HR { height:1px; padding:0px; margin:5px 0px 3px 0px; border:0px solid #cccccc; color:#ccc; }

.form_button              { padding-bottom:0.1em; }
.form_button_middle       { padding-bottom:0.1em; }
.form_button_long         { padding-bottom:0.1em; }

#checkout-form .button    { padding-bottom:0.1em; }
#reservation-form .button { padding-bottom:0.1em; }
#frmRegistration input[type=submit],
#frmRegistration input[type=button]
                          { padding-bottom:0.1em; }
.authentication-form .button { padding-bottom:0.1em; }
#check-booking-form .button { padding-bottom:0em; }
